
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
IronC--Compiler/_ReSharper.IronC--Compiler/BuildScriptCache/.crc
IronC--Compiler/_ReSharper.IronC--Compiler/BuildScriptCache/.crc
IronC--Compiler/_ReSharper.IronC--Compiler/BuildScriptCache/.crc
IronC--Compiler/_ReSharper.IronC--Compiler/ConditionalNames/.crc
IronC--Compiler/_ReSharper.IronC--Compiler/ConditionalNames/6/17035fdc.dat
IronC--Compiler/_ReSharper.IronC--Compiler/GeneratedFiles/.crc
IronC--Compiler/_ReSharper.IronC--Compiler/GeneratedFiles/7/63a6416a.dat
IronC--Compiler/_ReSharper.IronC--Compiler/MvcAnnotations/.crc
IronC--Compiler/_ReSharper.IronC--Compiler/MvcAnnotations/7/63a6416a.dat
IronC--Compiler/_ReSharper.IronC--Compiler/NamedArguments/.crc
IronC--Compiler/_ReSharper.IronC--Compiler/NamedArguments/7/63a6416a.dat
IronC--Compiler/_ReSharper.IronC--Compiler/PersistentCaches/CURRENT
IronC--Compiler/_ReSharper.IronC--Compiler/PersistentCaches/LOG
IronC--Compiler/_ReSharper.IronC--Compiler/ProjectFileDataCache/ShouldUseHostCompilerProvider.cache.dat
IronC--Compiler/_ReSharper.IronC--Compiler/ProjectModel/projectModel.dat
IronC--Compiler/_ReSharper.IronC--Compiler/RecentItems/RecentFiles.dat
IronC--Compiler/_ReSharper.IronC--Compiler/Resources/.crc
IronC--Compiler/_ReSharper.IronC--Compiler/SymbolCache.bin
IronC--Compiler/IronC--Compiler.v11.suo
IronC--Compiler/IronC--Compiler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IronC--Compiler/IronC--Compiler/obj/Debug/IronC--Compiler.csproj.FileListAbsolute.txt
IronC--Compiler/IronC--Generator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IronC--Compiler/IronC--IDE/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IronC--Compiler/IronC--IDE/obj/Debug/IronC--IDE_MarkupCompile.i.cache
IronC--Compiler/IronC--Lexical/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IronC--Compiler/IronC--Semantics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IronC--Compiler/IronC--Syntax/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IronC--Compiler/IronC--UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IronC--Compiler/IronC--Compiler.v11.suo
